.fg-menu-ipod .fg-menu li { width: 95%; }
.fg-menu-ipod .ui-widget-content { border:0px; }
.fg-button { margin-top: 0px; }
.ui-state-default li { border:1px solid #ccc; }
.ui-state-default ul { border:1px solid #ccc; }