<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <Config>
	<Path>C:\AppWeb\htdocs\mais\job\data</Path>
	<Filter>*.xml</Filter>
	<OperationSystem>Windows</OperationSystem>
	<PathPhpExe>C:\AppWeb\php\php.exe</PathPhpExe>
	<PathPhpIni>C:\AppWeb\php\php.ini</PathPhpIni>
  </Config>
</DocumentElement>