/* 
    Document   : print
    Created on : 26/07/2012, 15:09:56
    Author     : ksantoja
    Description:
        Purpose of the stylesheet follows.
*/

body, td, th {
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
}

#imgEmpresa{
    float:right;    
}

.header{
    clear:both;
    height:50px;
}

.divPrincipal{
    width:800px;
}

.nomeTabela{
    font-size:14px;
    font-weight: bold;
    text-transform: uppercase;
}

.borderDefault{
    border:#000000 solid 1px;
}

table.borderDefault{
    /*border:#000000 solid 1px;
    border-left:#000000 solid 1px;
    border-bottom:#000000 solid 1px;*/
}

.innerBorder{
    /*border:#000000 solid 1px;
    border-left: #000000 solid 1px;
    border-bottom: #000000 solid 1px;*/
}
.t-grid th{
    font-size: 12px;;
    border-right: #000000 solid 1px;
    border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
}

.t-grid td{
    font-size: 10px;
    border-right: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
}
.t-grid{
    width:100%;
}

.t-line{
    border-left: #000000 solid 1px;
    border-top: #000000 solid 0px !important;
}

.t-line-column{
    border-left: #000000 solid 1px;
}

.divGenerComer div{
    float:left;
}

.divGenerComer{
    clear:both;
}
.divEsquerda{
    width:450px;
}
.divDireita{
    width:350px;
}
.divTitulo{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    float:none !important;
    text-transform: uppercase;
    border-bottom: #000000 solid 1px;
}

#tituloEmpresa, #tituloApp{
    font-size:12px;
    color: #034A31;
    font-weight: bold;    
    font-style: italic;
}

#tituloApp{
    font-size:12px;
    color: #EA7108;
    font-style: normal;
}

#tituloEmpresa{
    text-transform: uppercase;
}

#nomeTabela{
    color: #034A31 !important;
    font-style: italic !important;
}